[submodule "depend/fly"]
	path = depend/fly
	url = https://github.com/easybcapp/fly.git
[submodule "depend/openssl"]
	path = depend/openssl
	url = https://github.com/easybcapp/openssl.git
[submodule "depend/snappy"]
	path = depend/snappy
	url = https://github.com/easybcapp/snappy.git
[submodule "depend/secp256k1"]
	path = depend/secp256k1
	url = https://github.com/easybcapp/secp256k1.git
[submodule "depend/leveldb"]
	path = depend/leveldb
	url = https://github.com/easybcapp/leveldb.git
